@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Krabuler';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(@/assets/fonts/Krabuler.woff2) format('woff2');
    }


    body {
        @apply font-main bg-gray-50 text-indigo-950;
        max-width: 1920px;
        margin: 0 auto;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-title;
    }

    input:focus, textarea:focus, select:focus, button:focus, a:focus {
        outline: none;
    }

    .transition-base {
        @apply transition-all ease-in-out duration-300
    }

    .input-accent {
        @apply rounded-md border-0 bg-white py-1.5 pl-3 pr-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
    }

    .wrapper-container {
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}